<nav>
    <div class="site-title">
        <a href="/"><h1 id="headlineText">Pangolin University</h1></a>
        <p>Diversity, Adaptability, and Excellence</p>
    </div>
    <ul>
        <li><a href="/courses">Our Courses</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/faculty">Faculty</a></li>
        <li><a href="/login">Sign in</a></li>
    </ul>
  </nav>