<nav>
    <div class="site-title">
        <a href="/"><h1 id="headlineText">Pangolin University</h1></a>
        <p>Diversity, Adaptability, and Excellence</p>
    </div>
    <ul>
        <li><a class="navItem" href="/courses">Our Courses</a></li>

        <!-- Text on these three should all be "my page" or something similar -->
        <!-- I left it this way so its easier to understand until finished -->
        <li><a class="navItem" href="/students">Students</a></li>
        <li><a class="navItem" href="/admin">Admin</a></li>
        <li><a class="navItem" href="/faculty">Faculty</a></li>

        <li><a class="navItem" href="/login">Log in</a></li>
        <li><a class="navItem" href="/logout">Log out</a></li>
        <li><a class="navItem" href="/signup">Sign up</a></li>
    </ul>
  </nav>