<nav>
    <div class="site-title">
        <a href="/"><h1 id="headlineText">Pangolin University</h1></a>
        <p>Diversity, Adaptability, and Excellence</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/login_signup">Login/Sign-Up</a></li>
        <li><a href="/staff">Staff Resources</a></li>
    </ul>
  </nav>