modules = ["nodejs-20:v10-20231103-2b03dda"]

hidden = [".config", "package-lock.json"]
run = "npm run start"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"

[nix]
channel = "stable-23_05"
