<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
    <form>
      
    </form>
    <h1>We are Pangolin University</h1>
    <p>The pride of the grasslands, Pangolin University is a world-renowned place for all things Pangolin!</p>
    <br />
    <h3> Don't forget to register for classes in the Spring! </h3>
    <br />
    <h1>Our Pride and Joy</h1>
    <p>Here at PU, we strive for Pangolin excellence in insect hunting, self-defense, and hygiene.</p>
    <br>
    <br>
    <a href="/adminCreation">Admin Creation (for testing)</a> 
  <%- include('./partials/footer.ejs') %>

</body>
</html>