<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h3> Don't forget to register for classes in the Spring! </h3>
    <br>
    <h1>We are Pangolin University</h1>
    
    <p>Pangolin University is a world-renowned place for all things Pangolin!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna neque viverra justo nec. Et egestas quis ipsum suspendisse ultrices gravida dictum. Lacinia at quis risus sed. Convallis aenean et tortor at risus viverra adipiscing. Id ornare arcu odio ut sem nulla pharetra diam sit. Augue eget arcu dictum varius duis at consectetur lorem donec. Lectus quam id leo in vitae. Duis at tellus at urna. Senectus et netus et malesuada fames ac. Lorem ipsum dolor sit amet consectetur. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Mi quis hendrerit dolor magna eget est lorem ipsum. Ullamcorper sit amet risus nullam eget felis eget nunc. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Aliquet bibendum enim facilisis gravida neque.</p>
    <br>
    <br>
    <h1>Mission Statement</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna neque viverra justo nec. Et egestas quis ipsum suspendisse ultrices gravida dictum. Lacinia at quis risus sed. Convallis aenean et tortor at risus viverra adipiscing. Id ornare arcu odio ut sem nulla pharetra diam sit. Augue eget arcu dictum varius duis at consectetur lorem donec. Lectus quam id leo in vitae. Duis at tellus at urna. Senectus et netus et malesuada fames ac. Lorem ipsum dolor sit amet consectetur. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Mi quis hendrerit dolor magna eget est lorem ipsum. Ullamcorper sit amet risus nullam eget felis eget nunc. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Aliquet bibendum enim facilisis gravida neque. Turpis massa tincidunt dui ut ornare lectus sit. Viverra aliquet eget sit amet tellus cras. Facilisis gravida neque convallis a cras. Arcu vitae elementum curabitur vitae.

      Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. At lectus urna duis convallis convallis tellus. Porttitor lacus luctus accumsan tortor. Amet consectetur adipiscing elit pellentesque habitant morbi tristique. Id cursus metus aliquam eleifend mi in nulla. Quis varius quam quisque id diam. Suspendisse sed nisi lacus sed viverra tellus in hac habitasse. Molestie nunc non blandit massa. Leo vel orci porta non pulvinar neque. Non blandit massa enim nec dui nunc mattis enim ut. Faucibus ornare suspendisse sed nisi lacus. A diam sollicitudin tempor id eu nisl.</p>
    <br>
    <br>
    <a href="/adminCreation">Admin Creation (for testing)</a> 
  <%- include('./partials/footer.ejs') %>

</body>
</html>