<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
    <h1>We are Pangolin University</h1>
    <p>The pride of the grasslands, Pangolin University is a world-renowned place for all things Pangolin!</p>
    <br />
    <h1>Our Pride and Joy</h1>
    <p>Here at PU, we strive for Pangolin excellence in insect hunting, self-defense, and hygiene.</p>

  <%- include('./partials/footer.ejs') %>
</body>
</html>