<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="courses">
        <h2>Log In</h2>
        <br>
        <form action="" method="post">
            <label for="userName">Username:</label>
            <input type="text" name="userName" placeholder="Enter Username" required>
            <br><br>
            <label for="passwordInput">Password:</label>
            <input type="password" name="passwordInput" placeholder="Enter Password" required>
            <br><br>
          <button type="submit">Log in</button>
          </form>    
      </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
<script>
  const form = document.querySelector('form');
  
  form.addEventListener('submit', (e) => {
    e.preventDefault();

    const email = form.email.value;
    const password = form.password.value;
  
    console.log(email, password);
  });
</script>