<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="courses">
        <h2>Log In</h2>
        <br>
        <form action="/login" method="post" id="log-in-form">
            <label for="emailLogin">Email Address:</label>
            <input type="email" name="emailLogin" placeholder="Enter Email" required>
            <div class="email error"></div>
            <br><br>
            <label for="passwordLogin">Password:</label>
            <input type="password" name="passwordLogin" placeholder="Enter Password" required>
            <div class="password error"></div>
            <br><br>
            <button type="submit">Log in</button>
        </form>
        <br>

    </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
<script>
    const form = document.getElementById('log-in-form');
    const emailErrorDiv = document.querySelector('.email.error');
    const passwordErrorDiv = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        emailErrorDiv.textContent = '';
        passwordErrorDiv.textContent = '';
        const email = form.emailLogin.value;
        const password = form.passwordLogin.value;
        try {
            const res = await fetch('/login', { 
                method: 'POST', 
                body: JSON.stringify({email, password}),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            if (data.errors) {
                emailErrorDiv.textContent = data.errors.email;
                passwordErrorDiv.textContent = data.errors.password;
            }
            if (data.student || data.instructor || data.admin) {
                location.assign('/');
            }
        }
        catch (err) {
            console.log(err);
        }        
    });
</script>