<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="courses">
        <h2>A Course</h2>
        <br>
        <h3>Information about the selected course including a CRUD form if student is logged in.</h3>
    
      </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>