<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="courses">
        <h2>Welcome Staff!</h2>
        <br>
        <h3>Edit Courses</h3>
        

    
      </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>