<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="student-body-div">
        <h2>Student Home Page</h2>
        <p>Just some information about the students including their schedule</p>
      </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>