@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Lora', serif;
    max-width: 1200px;
    background-color:#FFFFF6;
}
p, h1, h2, h3, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav li{
    list-style-type: none;
    margin-left: 20px;
}
nav h1{
    font-size: 3em;
}
nav p, nav a{
    color: #777;
    font-weight: 300;
}
footer{
    color: #777;
    text-align: center;
    margin: 80px auto 20px;
}
h2{
    margin-bottom: 40px;
    text-align: center;
}
h3{
    text-transform: capitalize;
    margin-bottom: 8px;
}
.content{
    margin-left: 20px;
}

 
 
.boldType{
    font-weight: bold;
} 
#headlineText{
    color: #a3250f;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.navItem {
    white-space: nowrap;
}
.courseView {
    display: none;
    position: fixed;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #a3250f;
    padding: 20px;
    background: white;
    z-index: 9999;
}
.courses {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.class,
.form,
.create-course {
    margin-bottom: 20px;
    width: 45%;
    padding: 10px;
    border: 1px solid #a3250f;
    border-radius: 5px;
    cursor: pointer;
}

.courses button,
.form button,
.create-course button {
    margin-top: 5px;
    padding: 5px;
    background: rgba(222, 194, 194, 0.939);
    border: 1px solid #a3250f;
    border-radius: 3px;
    font-size: 16px;
    color: #a3250f;
}